* {
  box-sizing: border-box;
}

:root {
  --color-primario: #0a3871;
}

/*CLASES GLOBALES*/

.flex-direction {
  display: flex;
}

.center {
  text-align: center;
}

.block {
  margin-top: 2em;
}

.pointer {
  cursor: pointer;
}
/* */

h1,
p {
  color: var(--color-primario);
}

.wrapper {
  width: 100%;
  margin: auto;
  padding: 2rem 3.5rem 2.5rem 0;
  background-color: #e5e5e5;
}

/*******************sección 1*****************/
.section-encrypt {
  width: 70%;
  align-items: center;
  background-color: #e5e5e5;

  /* background: linear-gradient(to bottom, black, white 80%, #74f400);*/
}


textarea {
  background-color: white;
  border: 1px solid var(--color-primario);
  cursor: pointer; /*#628290;*/
  width: 80%;
}

.section-show-ImgText {
  width: 30%;
  background-color: white;
  border-radius: 1em;
  border: solid #133954;
  padding: 2em;
}

.section-show-ImgText img {
  width: 70%;
  margin-top: 7em;
}

button {
  color: white;
  background-color: #133954;
  padding: 0.8em;
  width: 25%;
  border-radius: 0.8em;
}

.buttons {
  flex-wrap: wrap;
}

.buttons > button {
  margin-right: 1.5em;
}

#js_buttonDecrypt, 
#js_buttonCopyText {
  background-color: #e5e5e5;
  color: var(--color-primario);
  border: 1px solid #0a3871;
}

#js_buttonCopyText {
  width: 90%;
  background-color: white;
}

/*
.vista1-texto-noEncontrado {
  display: none;
}
*/

.vista2-texto-encriptado {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}


/***********MEDIA QUERIES *********/

@media (max-width: 400px) {
  .wrapper {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .section-encrypt {
    width: 100%;
  }

  
  textarea {
    width: 70%;
  }

  button {
    width: 100%;
  }
  .buttons > button {
    margin-bottom: 1.5em;
    background-color: #133954;
  }
  .section-show-ImgText {
    width: 100%;
    margin-top: 2em;
  }

  .section-show-ImgTextimg {
    display: none;
  }
}
